.no-repos {
    margin-top: 15px;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    animation: show 0.6s linear;
    background: linear-gradient(to right, rgb(255, 215, 255) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
.no-repos:hover {
    background-position: left bottom;
    cursor: pointer;
}
